<h1>
    SIGN UP
</h1>
<form method="post" action="/users/create">
    <input name="name" type="text" placeholder="Your Name" value="abcdefg" required>
    <input name="email" type="email" placeholder="Your Email" value="abc@gmail.com" required>
    <input name="password" type="password" placeholder="Password" value="abc" required>
    <input name="conform_password" placeholder="Conform password" value="abc" required>
    <input type="submit">
</form>