<h1>
    SIGN IN
</h1>
<form method="post" action="/users/login" >
    <input name="email" type="email" placeholder="User email"/>
    <input name="password" type="password" placeholder="password"/>
    <input type="submit"/>
</form>